/* Styling for calculator */

body {
    background-color: #bfbfbf;
    color: #000;
}

#container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#calculatorContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

button, input {
    width: 20%;
    height: 6vmax;
    margin: 0 0 1vh;
    font-size: 40px;
    font-weight: bold;
    border-radius: 25%;
}

input#results {
    width: 90%;
    margin-bottom: 3vh;
    text-align: center;
    font-size: 60px;
}

h1 {
    text-transform: uppercase;
}